* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #fff;
    color: #333;
    line-height: 1.6;
}

.header {
    height: 100vh;
    background-image: url('../img/4k-ultra-hd-oscuro-ws683y45oet0wq9c.jpg');
    background-size: cover;
    background-blend-mode: overlay;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    color: #fff;
}

.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}

.nav-links {
    list-style: none;
    display: flex;
    font-size: 24px;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #ddd;
}

.header-content {
    transform: translateY(-30px);
    animation: fadeIn 1s ease-in-out;
}

.title {
    font-size: 48px;
    color: #fff;
}

.highlight {
    color: #313261;
    font-weight: bold;
}

.subtitle {
    font-size: 24px;
    color: #d1d1d1;
    margin: 10px 0;
}

.btn {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #000;
}

.about {
    padding: 50px 20px;
    background-color: #f3f3f3;
    text-align: center;
}

.about h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.about p {
    font-size: 24px;
    max-width: 600px;
    margin: 0 auto;
}

.projects {
    padding: 50px 20px;
    background-color: #fff;
    text-align: center;
}

.projects h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.project-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project {
    background-color: #f3f3f3;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    width: 30%;
    transition: transform 0.3s;
}

.project:hover {
    transform: scale(1.05);
}

.project h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.footer {
    padding: 50px 20px;
    background-color: #333;
    color: #fff;
    text-align: center;
}

.footer h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.footer p {
    font-size: 20px;
    margin-bottom: 20px;
}

.footer .btn {
    background-color: #fff;
    color: #333;
}

.footer .btn:hover {
    background-color: #ccc;
}

html{
    scroll-behavior: smooth;
}
